extends email-layout

block content
  h2 Science Near Me - Password Reset
  p A password reset has been requested for #{user.email}. Please click the following button to reset your password. Note this link is only valid for the next hour.
  +button(resetURL, 'Reset my Password')
  p If you can't click the above button please visit #{resetURL}
  p If you didn't request this email, please ignore it.
