section.about
	.about__container
		h2.offscreen About
		p
			strong Science Near Me
			|  aims to link science organisers with science enthusiasts.
		p People can search for events in their local area.
		p Science organisers can 
			a(href="/add") register
			|  for free to add their events.