extends layout

include mixins/_adminEbEventCard
include mixins/_adminEventCard
include mixins/_pagination

block content
	.inner
		h1.offscreen #{title}

		if expiredCount
			form(class="form" action="/admin/expired-events" method="POST")
				h2 Expired events #{expiredCount} 
				input(class="input button" type="submit" value="Delete all expired events" disabled=(expiredCount ===  0 ? true : false))

	.inner
		form(class="form-card eb__form" method="POST")
			h2 Eventbrite events
			p Events are pulled in starting from tomorrows date, please supply an end date.
			label(class="label" for="endDate") End date:
			input(class="input" type="date" id="endDate" name="end_date")
			input(class="input button" type="submit" class="button" formaction="/admin/get-eventbrite-events" value="Get EventBrite Events")

	if guestEventsPending
		h2 Guest Events Pending #{guestEventsPending}
		form(method="POST")
			.events
				each event in guestEvents	
					+adminEventCard(event)
			.inner.flexbox
				input(class="input button" type="submit", formaction=`/admin/approve-guest-events` value="Update Guest Events")


	if ebEventsPending
		h2 Eventbrite Events Pending #{ebEventsPending} 
		form(method="POST")
			.events
				each event in events
					+adminEbEventCard(event)
			.inner.flexbox
				input(class="input button eb__update" type="submit", formaction=`/admin` value="Update")
				input(class="input button button--danger eb__delete" type="submit", formaction="/admin/delete-all-pending" value="Delete all EventBrite pending events")
			+pagination(page, pages, count, parentSlug)

	script(src="javascripts/admin.js")

