extends layout

include mixins/_eventCard
include mixins/_locationSearch
include mixins/_pagination
include mixins/_footer

block content
	.top-search
		+locationSearch(lat, lng, location, distance, childFriendly, free)

	main#maincontent
		.events__count
			h1= `Events found: ${count}`

		if (count)
			.events
				each event in events
					+eventCard(event)
			+pagination(page, pages, urlPrevious, urlNext)
		else 
			p Sorry there are no events listed in this area. Try increasing the distance or use our map.

			p Know of an event in this area? Then why not add it yourself? Create an event.

block footer
	+footer()