extends layout

include mixins/_eventCard
include mixins/_pagination

block content
	h2.offscreen= title

	p= `Displaying ${count} events.`

	if (count)
		.events
			each event in events
				+eventCard(event, start)