extends layout

include mixins/_eventCard
include mixins/_locationSearch
include mixins/_search
include mixins/_pagination
include mixins/_footer

block content
	.top-search
		+locationSearch(lat, lng, location, distance, childFriendly, free)

	+search(keywords)

	main#maincontent
		.events__count
			h2.title= `Events found: ${count}`

		if (count)
			.events
				each event in events
					+eventCard(event)
			if (pages !== null || pages !== 0)
				+pagination(page, pages, urlPrevious, urlNext)
		else 
			.no-results
				p Sorry no events where found. You can use our map to easily display all events. If you know of an event near you that is not listed, then why not add it for free!

block footer
	if (count !== 0)
		+footer()