extends layout

include mixins/_eventCard
include mixins/_locationSearch
include mixins/_pagination

block content
	
	+locationSearch(lat, lng, location, distance)

	main#maincontent
		.events__count
			h1= `Events found: ${count}`

		if (count)
			.events
				each event in events
					+eventCard(event)
			+pagination(page, pages, count, parentSlug, lat, lng, location, distance)