- const currentYear = new Date().getFullYear()

footer.footer
	h2.offscreen Social media info and copyright
	p
		strong Support
		|  and share the science!
	p
		a(rel="noopener noreferrer" href="https://facebook.com/sciencenearme" target="_blank" title="Follow us on Facebook!") Facebook
		a(rel="noopener noreferrer" href="https://twitter.com/sciencenearme" target="_blank" title="Follow us on Twitter!") Twitter
	p= `© ${currentYear} Science Near Me`
	p
		a(href="/cookie") Cookie
		|  and 
		a(href="/privacy") Privacy
		|  policy.