extends layout

block content
	.inner--center.forgot
		form(class="fb form-card" method="POST")

			.fb-50

				h1 Reset your password

				label(class="label" for="email") Enter your email address:
				input(class="input" type="email" name="email" id="email" autocomplete="username" required autofocus)
				p.tip A password reset link will be emailed to you.

				input(class="input button" type="submit" value="Reset password")

			.fb-50.unsplash.form-bg-img.form-bg-img--forgot
				
				a(class="unsplash__link" href="https://unsplash.com/@photoholgic?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Holger Link" aria-hidden=true tabIndex=-1)
					span
						!=h.icon("unsplash")
						span Holger Link
		
		.info
			p: a(href="/login") Return to login