extends layout

block content
	.inner--center
		form(class="fb form-card" action="/login" method="POST")

			.fb-50
				h1 Sign in

				//- Email Address
				label(class="label" for="email") Enter your email:
				input(class="input" type="email" name="email" id="email" autocomplete="username" autofocus)

				//- Password
				label(class="label" for="password") Enter your password:
				input(class="input" type="password" name="password" id="password" autocomplete="current-password")
				button#showPassword Show Password

				//- Log in
				input(class="input button" type="submit" value="Log In")
					
				p Don't have an account? 
					a(href="/register") Register for free.

			.fb-50.unsplash.form-bg-img.form-bg-img--login
				img(src="/images/photos/anatomical-model.jpg" alt="")
				a(class="unsplash__link" href="https://unsplash.com/@cadop?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Mathew Schwartz" aria-hidden=true tabIndex=-1)
					span
						!=h.icon("unsplash")
						span Mathew Schwartz
		.info
			p You can 
				a(href="/account/forgot") reset your password here.