extends layout

include mixins/_eventCard
include mixins/_locationSearch
include mixins/_pagination

block content
	h2.offscreen= title
	
	div
		+locationSearch()

	.events__count
		p= `You have ${count} events. To create a new event click `
			a(href="/add") here.

	if (count)
		.events
			each event in events
				+eventCard(event, start)
		+pagination(page, pages, count, parentSlug)