extends layout

include mixins/_eventCard
include mixins/_createEvent
include mixins/_locationSearch
include mixins/_search
include mixins/_pagination
include mixins/_footer

block content


	.flip
		header.header
			.hero
				picture
					source(srcset="https://s3.eu-west-2.amazonaws.com/sciencenearme-storage/images/skull.jpg" media="(min-width: 1240px)")
					source(srcset="https://s3.eu-west-2.amazonaws.com/sciencenearme-storage/images/skull-1240w.jpg" media="(min-width: 640px)")
					img(class="hero-img" 
						srcset="https://s3.eu-west-2.amazonaws.com/sciencenearme-storage/images/skull-1240w.jpg" 
						alt="")

				.hero-info
					//- p Science Near Me aims to link science organisers with science enthusiasts.
					p Linking science <br>organisers with science <br>enthusiasts <span class="offscreen">.</span>

		.top-search
			+locationSearch(lat, lng, location, distance)
	
	+search(keywords)


	main#maincontent
		.events__count
			h2.title= title

		-let n = 0
		if (events.length > 8 ) 
			.events
				-while(n < 8)
					+eventCard(events[n])
					-n++
		else
			.events
				for event in events
					+eventCard(event)

		section.create-events
			+createEvent()

		if ( n === 8 && events.length > 8 )
			h2.offscreen More Events 

			.events
				-while(n < events.length)
					+eventCard(events[n])
					-n++

block footer
	+footer()