extends layout

include mixins/_eventCard
include mixins/_locationSearch
include mixins/_pagination
include mixins/_footer

block content

	header.header
		.hero
			img(class="hero-img" src="/images/photos/lab.jpg" alt="")
			.hero-info
				//- p Science Near Me aims to link science organisers with science enthusiasts.
				p Science Near Me linking science organisers with science enthusiasts.
		
		+locationSearch(lat, lng, location, distance)

	main#maincontent
		.events__count
			h1= title

		.events
			each event in events
				+eventCard(event)

	.create-events
		p Create An Event for Free!

block footer
	+footer()