extends layout

include mixins/_eventCard
include mixins/_locationSearch
include mixins/_pagination
include mixins/_footer

block content

	header.header
		.hero
			picture
				source(srcset="/images/photos/12.resized.jpg" media="(min-width: 1240px)")
				source(srcset="/images/photos/11-1240w.jpg" media="(min-width: 640px)")
				img(class="hero-img" 
					srcset="/images/photos/11-1240w.jpg" 
					alt="")

			.hero-info
				//- p Science Near Me aims to link science organisers with science enthusiasts.
				p Linking science organisers with science enthusiasts <span class="offscreen">.</span>
		
	+locationSearch(lat, lng, location, distance)

	main#maincontent
		.events__count
			h2.title= title

		-let n = 0
		if (events.length > 8 ) 
			.events
				-while(n < 8)
					+eventCard(events[n])
					-n++
		else
			.events
				for event in events
					+eventCard(event)

		.create-event
			h2.offscreen Create an event
			p <a href="/add">Create An Event for Free!</a>

		if ( n === 8 && events.length > 8 ) 

			.events
				-while(n < events.length)
					+eventCard(events[n])
					-n++

block footer
	+footer()