extends layout

include mixins/_eventCard
include mixins/_locationSearch
include mixins/_pagination
include mixins/_footer

block content

	header.header
		.hero
			img(class="hero-img" src="" alt="")
			.hero-info
				//- p Science Near Me aims to link science organisers with science enthusiasts.
				p Linking science organisers with science enthusiasts <span class="offscreen">.</span>
		
	+locationSearch(lat, lng, location, distance)

	main#maincontent
		.events__count
			h2.title= title

		.events
			each event in events
				+eventCard(event)

	section.create-events
		h2.offscreen Create an event
		p <a href="">Create An Event for Free!</a>

block footer
	+footer()