extends layout

include mixins/_eventCard
include mixins/_locationSearch
include mixins/_pagination
include mixins/_footer

block content

	header.header
		.hero
			img(class="hero-img" src="/images/photos/unsplash/12.resized.jpg" alt="")
			.hero-info
				//- p Science Near Me aims to link science organisers with science enthusiasts.
				p Linking science organisers with science enthusiasts <span class="offscreen">.</span>
		
	+locationSearch(lat, lng, location, distance)

	main#maincontent
		.events__count
			h2.title= title

		-let n = 0
		.events
			-while(n < 8)
				+eventCard(events[n])
				-n++

		.create-event
			h2.offscreen Create an event
			p <a href="">Create An Event for Free!</a>

		if ( n === 8 && events.length > 8 ) 

			.events
				-while(n < events.length)
					+eventCard(events[n])
					-n++

block footer
	+footer()