extends layout

block content
	.inner--center.register
		form(class="fb form-card" action="/register" method="POST")

			.fb-50
				h1 Register for free!

				label(class="label" for="email") Email Address:
				input(class="input" type="email" name="email" id="email" autocomplete="username" required autofocus)

				label(class="label" for="password") Set a password 
					span.tip (minimum 12 characters)

				//- .input-icon
				input(class="input" type="password" name="password" id="password" minlength="12" autocomplete="new-password" required)

					//- button(type="button" class="toggle-password")
					//- 	span.offscreen Click to show password.
					//- 	!=h.icon("view")

				label(class="label" for="passwordConfirm") Confirm Password:
					
				//- .input-icon
				input(class="input" type="password" name="password-confirm" id="passwordConfirm" minlength="12" autocomplete="new-password" required)

					//- button(type="button" class="toggle-password")
					//- 	span.offscreen Click to show password.
					//- 	!=h.icon("view")

				input(class="input button" type="submit" value="Sign up for free")
			
				p Already have an account? 
					a(href="/login") Sign in here.

			.fb-50.unsplash.form-bg-img.form-bg-img--register

				a.unsplash__link(href="https://unsplash.com/@samuelzeller?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Samuel Zeller")
					span
						!=h.icon("unsplash")
						span Samuel Zeller