extends layout

block content
	.inner--center
		form(class="fb form-card" action="/register" method="POST")

			.fb-50
				h1 Register for free!

				label(class="label" for="email") Email Address:
				input(class="input" type="email" name="email" id="email" autocomplete="username" required autofocus)

				label(class="label" for="password") Set a password 
					span.tip (10 characters minimum, including at least 1 letter and number.)
				input(class="input" type="password" name="password" id="password" minlength="10" autocomplete="new-password" pattern="(?=.*[a-z])(?=.*[A-Z]).{10,}" required)

				label(class="label" for="password-confirm") Confirm Password:
				input(class="input" type="password" name="password-confirm" id="password-confirm" autocomplete="new-password" pattern="(?=.*[a-z])(?=.*[A-Z]).{10,}" required)

				input(class="input button" type="submit" value="Sign up for free")
			
				p Already have an account? 
					a(href="/login") Sign in here.				

			.fb-50.unsplash.form-bg-img.form-bg-img--register
				//- img(src="/images/photos/nasa-earth-from-space.jpg" alt="")
				a.unsplash__link(href="https://unsplash.com/@nasa?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from NASA")
					span
						!=h.icon("unsplash")
						span NASA