extends layout

block content
	.inner
		p You need to verify your account before you can log in. If your link has expired or you which to resend, click the following button. <a class="button" href="">Resend verification link</a>. 