extends layout

block content
	.inner
		h1 Reset Your Password
		form(class="form register" action="/account/forgot" method="POST")
			div.unsplash__container
				img(src="/images/photos/nasa-earth-from-space.jpg" alt="")
				a.unsplash__link(href="https://unsplash.com/@nasa?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from NASA")
					span
						!=h.icon("unsplash")
						span NASA
			.form__inner
				.fc
					label(for="email") Email
					input(type="email" name="email" id="email" autocomplete="username")
				.fc
					label(for="password") Password
					input(type="password" name="password" id="password" autocomplete="new-password")
				.fc
					label(for="password-confirm") Confirm Password
					input(type="password" name="password-confirm" autocomplete="new-password")
				.fc
					input(type="submit" value="Reset Password" class="button")