extends layout

block content
	.inner
		h1 Reset Your Password
		form(class="form flexbox" action="/account/forgot" method="POST")
			.form__details.flexbox__item

					label(class="form__label" for="email") Email
					input(class="form__input" type="email" name="email" id="email" autocomplete="username")

					label(class="form__label" for="password") Password
					input(class="form__input" type="password" name="password" id="password" autocomplete="new-password")

					label(class="form__label" for="password-confirm") Confirm Password
					input(class="form__input" type="password" name="password-confirm" autocomplete="new-password")

					input(class="form__input button" type="submit" value="Reset Password" class="button")
					
			.flexbox__item.unsplash
				img(class="form__img" src="/images/photos/nasa-earth-from-space.jpg" alt="")
				a.unsplash__link(href="https://unsplash.com/@nasa?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from NASA")
					span
						!=h.icon("unsplash")
						span NASA
