mixin filters()

	aside.filters
		h3.offscreen Filters
		.searchOrganisation
			label(for="organisationSearch") Search by event name or organisation:
			input(class="search__input" type="text" id="organisationSearch" name="search_organisation")
			button.button
				span.button--icon
					!= h.icon('tuning')
				| Filters
		.advanced__filters
			//- TODO filters should be and or.
			label(for="free") Free events
			input(type="checkbox" id="free" name="free" checked=(free))
			label(for="familyEvents") Family friendly
			input(type="checkbox" id="familyEvents" name="family_friendly" checked=(familyFriendly))
			//- Date range
			label(for="startDatetime") Start date:
			input(type="date" id="startDatetime" name="start_datetime" value=(start))
			label(for="endDatetime") End date:
			input(type="date" id="endDatetime" name="end_datetime" value=(end))