mixin footer()
	- const currentYear = new Date().getFullYear()

	footer.footer
		h2.offscreen Social media info and copyright
		p
			strong Support
			|  and share the science!
		p.offscreen Follow us on:
			ul.footer__list
				li.footer__list-item: a(rel="noopener noreferrer" href="https://facebook.com/sciencenearme" target="_blank" title="Follow us on Facebook!") Facebook
				li.footer__list-item: a(rel="noopener noreferrer" href="https://twitter.com/sciencenearme" target="_blank" title="Follow us on Twitter!") Twitter
		p= `© ${currentYear} Science Near Me`
		p
			a(href="/privacy") Privacy policy.

		.to-top(data-appear-offset="800" class="appear hidden")
			a(href="#top")
				span.offscreen Scroll to top