mixin navigation()

	nav
		h2.offscreen Main navigation
		ul
			li 
				a(href="/") Science Near Me
			li
				a(href="/events") Events
			li
				a(href="/map") Map
			li
				a(href="/about") About
			li
				a(href="/add") Add
			li
				a(href="/my-events") My Events
			li
				a(href="/sign-in") Sign In