mixin pagination(page, pages, free, previousParams, nextParams)

	.pagination
		.pagination__prev
			if page > 1
				a(href=urlPrevious)
					span.offscreen Previous page
					!= h.icon('cheveron-left')
		.pagination__text
			p Page #{page} of #{pages}
		.pagination__next
			if page < pages
				a(href=urlNext)
					span.offscreen Next page
					!= h.icon('cheveron-right')
