mixin spamPot()

	.offscreen
		p Only enter data in to the following field if you are a bot.
		label Email:
		input(type="text" name="yourEmail" id="yourEmail" placeholder="Your email" autocomplete="off" tabindex="-1")
