.eb-organisation-list > ul {
  padding: 8px 16px;
  list-style: none;
  height: 100px;
  overflow-y: scroll;
  background: #f5f3ff;
  border-radius: 4px;
  font-size: 0.9em;
}

.eb-organisations .button {
  width: 150px;
}
