.create-events {
  margin: 40px 0;
  background-image: url(/images/photos/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  p {
    padding: 42px 16px;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    margin: 0 auto;
    background: rgba(47, 80, 127, 0.68);
    color: #e7f2ff;
  }
}
