.button {
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  color: #fcfdff;
  border-radius: 4px;
  // height: 52px;
  &__icon {
    fill: #e0e2e4;
    margin-right: 6px;
    width: 16px;
  }
}

.btn-group .button:not(:last-child) {
  margin-right: 16px;
}

.btn-group .button {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
}

/* -------------------------- */
/*  MODIFIERS
/* -------------------------- */

// ripple effect
// .button {
//   background-position: center;
//   transition: background 0.5s;
//   &:hover {
//     background: $primary-500
//       radial-gradient(circle, transparent 1%, $primary-500 1%) center/15000%;
//   }
//   &:active {
//     background-color: $primary-300;
//     background-size: 100%;
//     transition: background 0s;
//   }
// }

.button {
  border: 2px solid $primary-500;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: $primary-500;
  border-radius: 24px;
  // box-shadow: 0 0 4px #999;
}

.buttons-group {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.input-icon {
  display: flex;
  .input {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button {
    border-top-right-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    height: 48px;
    border-bottom-right-radius: 4px;
    border-left: 0;
    svg {
      width: 32px;
    }
  }
}
.button:hover {
  background: #fff;
  border: 2px solid $primary-500;
  color: $primary-500;
}

.button {
  &--danger {
    background: #ffffff;
    color: #a02032;
    border: 2px solid #a02032;
    box-shadow: none;
    &:hover {
      background: #a02032;
      border: 2px solid transparent;
      color: #fff;
    }
  }
  &--delete {
    height: 36px;
    margin: 8px 0;
  }
}
