.button {
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  background: #47a7f5;
  border: 1px solid transparent;
  color: #fcfdff;
  border-radius: 4px;
  // height: 52px;
  &__icon {
    fill: #e0e2e4;
    margin-right: 6px;
    width: 16px;
  }
}

.btn-group .button:not(:last-child) {
  margin-right: 16px;
}

.btn-group .button {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
}

/* -------------------------- */
/*  MODIFIERS
/* -------------------------- */

.button {
  &--danger {
    background: #ffffff;
    color: #8c0909;
    border: 2px solid #ab0000;
    box-shadow: none;
  }
  &--delete {
    height: 36px;
    margin: 8px 0;
  }
}

// ripple effect
.button {
  background-position: center;
  transition: background 0.5s;
  &:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
      center/15000%;
  }
  &:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
}

.button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  // box-shadow: 0 0 4px #999;
  outline: none;
}

.buttons-group {
  display: flex;
  justify-content: space-between;
}
