.button {
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  background: #2b3b48;
  border: 1px solid transparent;
  color: #fcfdff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px 0px #c1c5c7;
  &__icon {
    fill: #e0e2e4;
    margin-right: 6px;
    width: 16px;
  }
}

/* -------------------------- */
/*  MODIFIERS
/* -------------------------- */

.button {
  &--danger {
    background: #ffffff;
    color: #8c0909;
    border: 2px solid #ab0000;
    box-shadow: none;
  }
}
