form input.button,
.button {
  background: #2b3b48;
  border: 1px solid transparent;
  color: #fcfdff;
  padding: 8px 16px;
  border-radius: 4px;
  svg {
    fill: #e0e2e4;
    margin-right: 6px;
    width: 16px;
  }
}

.map__button {
  height: 42px;
  margin-right: 10px;
  width: 110px;
}
