@media all and (min-width: calc(416px)) {
  .events {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 0 48px;
    // align-content: center;
    justify-content: center;
  }
}

.event {
  position: relative;
  max-width: 400px;
  margin: 0 auto 2rem auto;
  background-color: #fff;
  box-shadow: 2px 2px 6px 1px #d4d4d4;
  img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 200px;
  }
  @media all and (min-width: 879px) {
    img {
      object-fit: cover;
      min-height: 200px;
    }
  }
  svg {
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    fill: #dcdcdc;
  }
}

.event__action--edit {
  float: right;
  color: #ffffff;
  background: #ffffff;
  position: absolute;
  padding: 8px;
  top: -8px;
  right: -8px;
  box-shadow: 2px 0px 6px 0px #dcdfe2;
  a {
    color: #2b3b48;
    text-decoration: none;
    position: relative;
    top: -2px;
    svg {
      fill: #2b3b48;
      position: relative;
      top: 4px;
    }
  }
}
.event__description {
  padding: 1rem;
}
.event__details {
  background-color: #fff;
}
.event__title h2 {
  text-decoration: none;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.event__title {
  padding: 1rem 1rem 0;
  a {
    color: #39364f;
    text-decoration: none;
  }
}
.event__organiser {
  font-style: italic;
  padding: 0 1rem;
  border-bottom: 1px solid #eee;
}
.event__location p,
.event__price p,
.event__date p {
  display: inline-flex;
  align-items: center;
}
.event__location svg,
.event__price svg,
.event__date svg {
  margin-right: 6px;
  width: 20px;
  position: relative;
  left: -8px;
}
.event__free {
  position: absolute;
  top: -6px;
  left: -6px;
  background: #9c29d2;
  padding: 6px 12px;
  color: #f7f7f7;
}
.event__free p {
  margin-bottom: 0;
  text-transform: uppercase;
}

.events__count {
  max-width: 1776px;
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 16px;
}
