@media all and (min-width: 416px) {
  .events {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 0 48px;
    justify-content: center;
  }
}

.event {
  position: relative;
  max-width: 400px;
  margin: 0 auto 2rem auto;
  background-color: #fff;
  box-shadow: 2px 2px 6px 1px #d4d4d4;
  &__edit {
    float: right;
    color: #ffffff;
    background: #ffffff;
    position: absolute;
    padding: 8px;
    top: -8px;
    right: -8px;
    box-shadow: 2px 0px 6px 0px #dcdfe2;
  }
  &__img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 200px;
    @media all and (min-width: 879px) {
      object-fit: cover;
      min-height: 200px;
    }
  }
  &__item {
    margin-left: 0;
    margin-bottom: 8px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 2px;
    position: relative;
    top: 2px;
    left: -6px;
    svg {
      fill: #2b3b48;
      width: 20px;
    }
  }
  &__item--organiser {
    font-style: italic;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
  }
  &__item--free {
    position: absolute;
    top: -6px;
    left: -6px;
    background: #9c29d2;
    padding: 6px 12px;
    color: #f7f7f7;
    text-transform: uppercase;
  }
  &__link {
    color: #2b3b48;
    text-decoration: none;
    position: relative;
    top: -2px;
  }
  &__title {
    padding: 1rem 1rem 0;
    color: #39364f;
    text-decoration: none;
  }
}
