@media (min-width: 986px) {
  .fb {
    display: flex;
    &--c {
      flex-direction: column;
    }
    &--center {
      justify-content: center;
    }
    &-50 {
      flex-basis: 50%;
    }
  }
}
