.footer {
  text-align: center;
  background: #293c5f;
  margin: 0;
  padding: 40px;
  color: #dbdfe2;
  background: linear-gradient(to right, #273a5d, #354e79);
  a {
    color: inherit;
  }
  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  &__list-item {
    margin-left: 4px;
    margin-right: 4px;
  }
}
