.footer {
  text-align: center;
  background: $primary-600;
  margin: 0;
  padding: 40px;
  color: #dbdfe2;
  // background: linear-gradient(to right, #1964a0, #2f84cf);
  margin-top: auto;

  a {
    color: inherit;
  }
  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  &__list-item {
    margin-left: 4px;
    margin-right: 4px;
  }
}
