input,
textarea {
  padding: 8px;
  border: 2px solid #39364f;
  border-radius: 8px;
  &.input {
    &--error {
      border-color: red;
    }
  }
}

.form {
  margin: 70px 0 35px 0;
  background: white;
  padding: 16px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  label {
    margin-bottom: 4px;
  }
  input {
    margin-right: 24px;
    margin-bottom: 24px;
    border-radius: 0.4rem;
    border: 0.2rem solid #dbe0e6;
    background-color: #dbe0e6;
    height: 48px;
  }
  textarea,
  .text--editor {
    margin-bottom: 24px;
  }
  [type="text"],
  [type="email"],
  [type="password"],
  [type="submit"] {
    max-width: 400px;
    font-size: 0.9rem;
  }
  input[type="number"] {
    width: 175px;
  }
  input[type="url"] {
    max-width: 400px;
    font-size: 0.9rem;
  }
  input[type="date"] {
    width: 175px;
  }
}
