.form {
  // padding: 16px;
  &__section {
    border-bottom: 1px solid #ccc;
    padding: 60px 0;
  }
  &__section:first-child {
    padding-top: 40px;
  }
}

.alert {
  padding: 16px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  p {
    margin: 0;
  }
}

.form-card {
  padding: 16px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);

  @media (min-width: 986px) {
    margin-top: 100px;
    background: white;
    // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    max-width: 960px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.form-card > div:first-child {
  margin: 40px 0;
  @media (min-width: 986px) {
    padding-right: 24px;
    padding-left: 8px;
  }
}

.label {
  display: block;
  margin-bottom: 4px;
}
.input {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  width: 100%;
  max-width: 480px;
  font-size: 0.9em;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  height: 48px;
  padding: 8px;
}

// Modifier
.input--sml {
  width: 170px;
}

// Eventbrite Form

.button.submit-event-button {
  margin: 40px 0;
  box-shadow: none;
}

.button.delete-event-button {
  background: #ffffff;
  border: 1px solid #bf2222;
  color: #bf2222;
  order: -1;
  margin: 40px 0;
  box-shadow: none;
}

.button.delete-event-button:hover {
  background: #bf2222;
  color: #fff;
}
