.form {
  padding: 16px;
  &__section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 60px;
  }
}

.form-card {
  max-width: 960px;
  background: white;
  padding: 16px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.form-card > div:first-child {
  margin: 40px 0;
  padding-right: 24px;
  padding-left: 8px;
}

.label {
  display: block;
  margin-bottom: 4px;
  color: $dark-txt;
}
.input {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  width: 100%;
  max-width: 480px;
  font-size: 0.9em;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  height: 48px;
  padding: 8px;
}

// Modifier
.input--sml {
  width: 170px;
}

// Eventbrite Form
