.hide {
  display: none;
}
.offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.avatar {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
}

.card {
  background: white;
  padding: 5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

pre.error {
  padding: 5rem;
  background: white;
  line-height: 3;
  white-space: pre-line;
}
.helper-txt {
  position: relative;
  &--top {
    font-size: 16px;
    position: absolute;
    top: -20px;
    left: 0;
    color: $light-txt;
    font-weight: normal;
  }
}
.txt {
  &--light {
    color: $light-txt;
  }
}
.inner {
  max-width: 900px;
  margin: 0 auto;
  &--center {
    margin: 0 auto;
    max-width: 512px;
    @media (min-width: 986px) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

/* ------------------------ */
/* Spacing
/* ------------------------ */

// Margins
.mb-0 {
  margin-bottom: 0;
}
.mt-60 {
  margin-top: 60px;
}
// Padding
.pr-60 {
  padding-right: 60px;
}
.pt-16 {
  padding-top: 16px;
}

.text--warning {
  color: red;
  font-size: 0.8em;
}

.info {
  padding: 0 16px;
  @media (min-width: 986px) {
    margin-top: 24px;
    text-align: center;
  }
}

.tip {
  font-size: 0.9em;
}
.tags {
  padding: 0;
}
