.fr {
  display: flex;
  flex-direction: row;
}
.fc {
  display: flex;
  flex-direction: column;
}
.hide {
  display: none;
}
.offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button {
  border: 0;
  background: $yellow;
  color: $black;
  font-family: "Panama";
  font-weight: 600;
}

.avatar {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
}

.card {
  background: white;
  padding: 5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

pre.error {
  padding: 5rem;
  background: white;
  line-height: 3;
  white-space: pre-line;
}
