.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > p {
    margin: 0;
    width: 100%;
    position: absolute;
    top: calc(40vh - 108px);
    left: 0;
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background: hsla(0, 0%, 100%, 0.35);
  }
}

.hero-img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  object-position: bottom right;
}

.hero-info {
  width: 100%;
  background: linear-gradient(to right, #273a5d, #354e79);
  background: linear-gradient(to right, #5377a7, #00c5ce);
  padding: 8px 0;
  > p {
    margin: 0;
    padding: 16px;
    text-align: center;
    color: rgb(237, 243, 255);
    font-size: 18px;
    text-transform: capitalize;
  }
}

@media (min-width: 960px) {
  .hero-info {
    > p {
      padding: 35px 16px;
      font-size: 24px;
    }
  }

  .hero {
    > p {
      width: auto;
      left: calc(50% - 421.915px);
      font-size: 62px;
      line-height: 1;
      padding: 18px 32px;
    }
  }
}
