.hero {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 50vh;
  background: #c3c3c3;
}

.hero-img {
  user-select: none;
  // height: 40vh;
  width: 100%;
  object-fit: cover;
  object-position: bottom right;
}
.hero-info {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 18px;
  margin-bottom: 0;
  top: 112px;
  p {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 26px;
    color: $primary-600;
    text-shadow: 0 0 20px #fff;
    text-transform: capitalize;
  }
}

@media (min-width: 960px) {
  .hero-info {
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > p {
      padding: 16px;
      text-align: center;
      font-size: 62px;
      // position: relative;
      // top: -62px;
      max-width: 1040px;
    }
  }
}
