.form-bg-img {
  display: none;
}
img#preview {
  object-fit: cover;
}

@media all and (min-width: 986px) {
  .form-card {
    width: 960px;
  }
  .form-bg-img {
    display: block;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;

    &--register {
      background-image: image-set(
        url("https://s3.eu-west-2.amazonaws.com/sciencenearme-storage/images/human-anatomy-w464.jpg")
          1x,
        url("https://s3.eu-west-2.amazonaws.com/sciencenearme-storage/images/human-anatomy-w928.jpg")
          2x
      );
    }

    &--login {
      background-image: image-set(
        url("https://s3.eu-west-2.amazonaws.com/sciencenearme-storage/images/anatomical-model-w464.jpg")
          1x,
        url("https://s3.eu-west-2.amazonaws.com/sciencenearme-storage/images/anatomical-model-w914.jpg")
          2x
      );
    }

    &--forgot {
      background-image: image-set(
        url("https://s3.eu-west-2.amazonaws.com/sciencenearme-storage/images/plastic-wire-puzzle-w464.jpg")
          1x,
        url("https://s3.eu-west-2.amazonaws.com/sciencenearme-storage/images/plastic-wire-puzzle-w928.jpg")
          2x
      );
    }
  }
}

.padlock {
  display: inline;
  &-img {
    width: 22px;
    height: auto;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 8px;
  }
}
