.form-bg-img {
  display: none;
}

@media all and (min-width: 986px) {
  .form-card {
    width: 960px;
  }
  .form-bg-img {
    display: block;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;

    &--register {
      background-image: url("/images/photos/human-anatomy.jpg");
    }
    &--login {
      background-image: url("/images/photos/anatomical-model.jpg");
    }
  }
}

.padlock {
  display: inline;
  &-img {
    width: 22px;
    height: auto;
    cursor: pointer;
    position: relative;
    top: 9px;
    left: 8px;
  }
}
