html {
  box-sizing: border-box;
  overflow-y: scroll;
  max-width: 1920px;
  margin: 0 auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
  color: $primary-900;
  background-color: $primary-100;
}

.header {
  position: relative;
}

h3 > a {
  color: inherit;
  text-decoration: none;
}

.content {
  padding: 0 0.5rem;
}

main {
  margin-bottom: 80px;
}

@media (max-width: 960px) {
  .hero {
    height: 73vh;
  }
  .location-autocomplete {
    h2 {
      text-align: center;
      text-transform: capitalize;
      font-size: 24px;
    }
  }
}
