html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  margin: 0;
  color: #39364f;
  background-color: #eeedf0;
  // border-top: 2px solid #9c29d2;
  border-top: 4px solid #4572af;
}
.content {
  padding: 0 0.5rem;
}

.inner {
}
