html {
  box-sizing: border-box;
  overflow-y: scroll;
  max-width: 1920px;
  margin: 0 auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
  color: $primary-900;
  background-color: $primary-100;
}

.header {
  position: relative;
}

h3 > a {
  color: inherit;
  text-decoration: none;
}

.content {
  padding: 0 0.5rem;
}

main {
  // margin-bottom: 80px;
}

img {
  display: block;
}

@media (max-width: 815px) {
  .hero {
    // height: 73vh;
    height: 400px;
    // height: 55vh;
  }
  .location-autocomplete {
    h2 {
      text-align: center;
      text-transform: capitalize;
      font-size: 24px;
    }
  }
}

img {
  width: 100%;
}

.no-results {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
  p {
    font-size: 1.2em;
    text-align: center;
  }
}

@media (min-width: 1050px) {
  .flip {
    display: flex;
    flex-direction: column-reverse;
  }
}

.verify-account {
  background-color: #3e3e3e;
  color: #e8e8e8;
  text-align: center;
  padding: 16px;
  position: fixed;
  bottom: 0;
  z-index: 9999999;
  width: 100%;
  p {
    margin: 0;
  }
}
