html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  margin: 0;
  color: #2b3b48;
  background-color: #eeedf0;
  // border-top: 2px solid #9c29d2;
  // border-top: 4px solid #4572af;
}

h3 > a {
  color: inherit;
  text-decoration: none;
}

.content {
  padding: 0 0.5rem;
}

#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip a:focus {
  position: static;
  width: auto;
  height: auto;
}
