.location-autocomplete {
  background: white;
  // margin: -60px auto 16px auto;
  padding: 16px;
  // width: 94%;
  // margin: 0 8px;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);

  @media (max-width: 1049px) {
    max-width: 550px;
  }

  @media (min-width: 585px) {
    margin: 8px auto;
  }

  &__label {
    font-size: 18px;
    padding-bottom: 8px;
    padding-right: 0;
  }
  &__input {
    border: none;
    font-family: inherit;
    margin-bottom: 16px;

    @media (max-width: 1049px) {
      border-bottom: 1px solid #5980a7;
      font-size: 14px;
      padding: 8px 4px;
      margin-top: 4px;
      background: $primary-100;
      width: 100%;
    }
    &::placeholder {
      color: #5b508b;
      font-size: 16px;
    }
  }
  &__select {
    color: #5b508b;
    width: 180px;
    border: none;
    height: 42px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    font-size: 16px;
    background: $primary-100;
    margin-bottom: 16px;
  }
  &__button {
    width: 100%;
  }
  // details {
  //   font-size: 13px;
  //   cursor: pointer;
  // }
}

@media (min-width: 1050px) {
  .location-autocomplete {
    // padding: 28px;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    // padding: 53px 28px 24px 28px;
    padding: 42px;
    max-width: 1000px;
    margin: -55px auto 20px auto;

    h2 {
      display: none;
    }

    &__input {
      margin: 0;
      border: none;
      font-family: inherit;
      background: $primary-100;
      height: 42px;
      padding-left: 12px;
      border-radius: 4px;
      // width: 280px;

      &::placeholder {
        font-size: 16px;
      }
    }
    &__select {
      // width: 180px;
      border: none;
      // height: 42px;
      cursor: pointer;
      font-family: inherit;
      border-radius: 4px;
      font-size: 16px;
      padding-left: 8px;
      // margin-left: 36px;
      justify-self: center;
    }
    &__button {
      // margin-left: 36px;
      // width: 240px;

      grid-column: 3;
      grid-row: 1;
    }
    // details {
    //   grid-column: 1;
    //   font-size: 14px;
    //   margin: 0;
    //   // margin-left: 36px;
    //   margin: 8px 0 0 2px;
    // }
  }
}
@media (min-width: 1050px) {
  .location-autocomplete-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .location-autocomplete__select {
    margin-bottom: 0;
  }
}

@media (min-width: 1050px) {
  .location-autocomplete {
    padding: 42px;
    max-width: 1000px;
    margin: -55px auto 20px auto;
    position: absolute;
    // top: 26vh;
    height: 350px;
    // left: 8vw;
    top: 232px;
    left: 88px;
    margin: 0;
    background: hsl(0, 0%, 100%);
  }
  .location-autocomplete-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    width: 400px;
  }
  .location-autocomplete h2 {
    display: block;
    font-size: 32px;
    margin: 0;
    text-transform: capitalize;
  }
}

@media (min-width: 960px) {
  .hero-info {
    display: none;
  }
}

.top-search {
  .location-autocomplete {
    border-radius: 0;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 42px;
    padding: 28px;

    @media (min-width: 1050px) {
      // margin: 28px auto 16px auto;
      display: block;
      max-width: 100%;
      margin: 0;
      padding: 16px;
      position: unset;
      height: auto;

      // &__select {
      //   margin-bottom: 0;
      // }

      &-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 760px;
        margin: 0 auto;

        h2 {
          display: none;
        }

        .location-autocomplete__input {
          flex: 2;
          max-width: 325px;
        }

        .location-autocomplete__select {
          flex: 1;
          max-width: 180px;
        }
        .location-autocomplete__button {
          flex: 1;
          max-width: 200px;
        }
      }
    }
  }
}
