.location-autocomplete {
  z-index: 99999;
  background: white;
  margin: -60px auto 0 auto;
  padding: 16px;
  width: 94%;
  margin-bottom: 16px;
  border-radius: 4px;

  // margin-bottom: 16px;
  // background: #fff;

  @media (min-width: 620px) {
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    background: hsla(212, 50%, 85%, 0.7);
    padding: 28px 16px;
    width: 100%;
    text-align: center;

    border-radius: 8px;
    max-width: 620px;
    left: calc(50% - 310px);
  }

  h2 {
    text-align: center;
    line-height: 1;
    font-weight: normal;

    @media (max-width: 620px) {
      display: none;
      text-align: left;
      // position: absolute;
      // top: 17%;
      // color: #0f3865;
      font-size: 28px;
      // left: 0;
      // margin-bottom: 0;
      // background: hsla(210, 73%, 96%, 0.42);
      // padding: 16px 8px;
    }
  }

  &__label {
    font-size: 18px;
    padding-bottom: 8px;
    padding-right: 0;
  }
  &__input {
    border: none;
    font-family: inherit;
    margin-bottom: 16px;

    @media (max-width: 619px) {
      border-bottom: 1px solid #5980a7;
      font-size: 14px;
      padding: 8px 4px;
      margin-top: 4px;
      background: #9dceff5e;
      width: 100%;
    }

    @media (min-width: 620px) {
      padding-bottom: 4px;
      height: 48px;
      border-radius: 24px;
      font-size: 16px;
      text-align: center;
    }
  }
  &__select {
    width: 180px;
    border: none;
    // margin-bottom: 16px;
    height: 42px;
    // width: 100px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    // background: #eaf1ff;
    // border-color: #d9e6ff;

    @media (max-width: 619px) {
      margin-bottom: 16px;
      font-size: 14px;
      padding: 0 0 0 4px;
      background: #9dceff6e;
    }

    @media (min-width: 620px) {
      background: #fff;
      font-size: 16px;
      padding: 8px;
      margin: 0 auto 16px auto;
    }
  }
  &__button {
    @media (max-width: 619px) {
      width: 100%;
    }
  }
  details {
    font-size: 13px;
  }
}
