.location-autocomplete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #fff;
  &__label {
    padding-right: 8px;
  }
  &__input {
    margin-right: 8px;
    height: 43px;
    padding: 8px;
    border: 2px solid #39364f;
    border-radius: 8px;
  }
  &__select {
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    padding: 8px;
    border: 2px solid #39364f;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 16px;
    background: #eeedf0;
  }
  &__button {
    height: 43px;
  }
}
