.map {
  background: white;
  box-shadow: $shad;
  margin-bottom: 35px;
  > div:first-child {
    display: flex;
    align-items: center;
  }
}
#map {
  height: calc(100vh - 132px);
}

.popup {
  width: 300px;
  img {
    width: 100%;
  }
}
