.hamburger {
  z-index: 2;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: #f1f6ff;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: #f1f6ff;
}

.nav {
  padding: 0 16px;
  height: 70px;
  background: $primary-600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $primary-700;
  a {
    color: #f1f6ff;
  }
}
.nav__logo {
  font-family: "sunday";
  font-size: 22px;
  padding: 8px;
  display: inline-block;
  text-decoration: none;

  @media (min-width: 640px) {
    font-size: 28px;
  }
}

.nav__section {
  position: fixed;
  z-index: 1;
  width: 100%;
  flex: 1;
  margin: 0;
  display: none;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  top: 0;

  .nav__link {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    padding: 1rem;
  }
}
@media all and (min-width: 960px) {
  .nav__section {
    position: unset;
  }
  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
    align-items: center;
  }

  .nav .nav__section:last-child {
    justify-content: flex-end;
  }
  .nav__section {
    display: flex;
    height: 100%;
  }
  .nav__section .nav__item {
  }
  .nav__section .nav__link {
    height: 100%;
  }
}

.nav .avatar {
  width: 28px;
}

.menu--is-active {
  display: flex;
  background: #2b3b48;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  text-transform: uppercase;
  background: linear-gradient(to bottom, $primary-700, $primary-500);
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  > .nav__item {
    width: 100%;
    padding: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
  }
}
