.to-top {
  display: none;
  position: fixed;
  bottom: 32px;
  right: 12px;
  animation: fadeIn 0.5s;
  a {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgba($primary-600, 0.8);
    display: block;
    cursor: pointer;
    border: 2px solid white;
  }
}
