.to-top {
  position: fixed;
  bottom: 32px;
  right: 12px;
  a {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgba($primary-600, 0.8);
    display: block;
    cursor: pointer;
  }
}
