.single__details {
  padding: 8px;

  .static__map {
    margin-bottom: 60px;
  }

  .single__map {
    min-height: 125px;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 1279px) {
  .single__location {
    display: none;
  }
}

@media (min-width: 1280px) {
  .single {
    article {
      padding: 80px 16px;
      // background: white;
      display: grid;
      grid-template-columns: 710px 400px;
      justify-content: center;
      grid-gap: 0 40px;
    }
    .title--single {
      grid-column: -1/1;
      margin-bottom: 1.5em;
    }
    .description {
      grid-column: 1;
      margin-bottom: 40px;
    }
    aside {
      grid-column: 2;
      grid-row: 2;
    }
  }

  .static__map {
    position: relative;
    grid-column: -1/1;
    margin: 60px 0 0 0;
  }
  img.single__map {
    max-width: 1280px;
    max-height: 300px;
  }
  p.single__location {
    position: absolute;
    top: -4px;
    right: -44px;
    margin: 0;
    margin-top: -1rem;
    background: #303030;
    color: white;
    display: inline-block;
    padding: 1rem;
  }

  section.more-events {
    background: #f5f3ff;
    padding: 20px 60px;
    h2 {
      margin: 20px 0 40px 0;
    }
  }
}

.single-create-events {
  // background: #fff;
  padding: 80px 0;
}
