.single {
  margin-bottom: 70px;
}
.single__hero {
  height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    filter: blur(14px);
  }
}
.title.title--single {
  max-width: 600px;
  text-align: center;
  word-wrap: break-word;
  font-size: 48px;
  transform: skew(0, -3deg);
  line-height: 1.3;
  margin-bottom: 5rem;

  a {
    text-decoration: none;
    background: #fff;
    color: #631479;
  }
}
.single__details.inner {
  background: white;
  position: relative;
  padding: 3rem;
  margin-top: -10rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
  svg {
    width: 24px;
  }
}
.inner {
  max-width: 900px;
  margin: 0 auto;
}
img.single__map {
  width: calc(100% + 6rem);
  max-width: none;
  margin-top: -3rem;
  margin-left: -3rem;
}
p.single__location {
  margin: 0;
  margin-top: -3rem;
  margin-right: -5rem;
  background: #303030;
  color: white;
  display: inline-block;
  float: right;
  position: relative;
  padding: 1rem;
}

.summary__eventbrite {
  div.fade--out {
    position: relative;
  }
  .fade--out::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 400px, white);
  }
}
.summary {
  .external__link {
    text-align: center;
  }
}
