.layout--min {
  background-color: #385072;
  background: radial-gradient(
    circle,
    rgb(75, 114, 169) 0%,
    rgba(56, 80, 114, 1) 100%
  );
  color: #f7faff;
  label {
    color: #092142;
  }

  a {
    color: #f7faff;
  }

  .form__inner {
    p,
    a {
      color: #092142;
    }
  }
}
