@font-face {
  font-family: "sunday";
  src: url("/fonts/Sunday.woff2") format("woff2"),
    url("/fonts/Sunday.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-wrap: break-word;
}

h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin-top: 0;
  line-height: 1.5;
}
