$black: #333;

$danger: #e50714;
$warning: #ffc40e;
$success: #93ff00;
$info: #80b2f5;

$light-txt: #545d65;

$primary-900: #0d053d;
$primary-700: #261f54;
$primary-600: #373256;
$primary-500: #474075;
$primary-300: #b9b3d6;
$primary-100: #f5f3ff;

$secondary-500: #f96d00;
$secondary-300: #f3a467;
$secondary-200: #ffd7b8;
